.todoWrapper{
  margin: 50px auto;
}

.header input{
  outline: none;
  padding: 5px;
  margin-right: 20px;
}

.header button{
  width: 60px;
  height: 26px;
  background-color: #00a3cf;
  color: #ffffff;
  border: none;
  outline: none;
  border-radius: 3px;
}

.header button:active{
  background-color: #13c1f1;
}

button {
  margin-right: 15px;
}